<div *ngIf="errorMsg !== undefined" class="alert alert-danger" role="alert" style="position:fixed;z-index:10;">
    {{ errorMsg }}
 </div>

<!-- Header and Search -->
<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    CSHub
  </a>
  <div class="form-inline">
    <input #searchbox class="form-control mr-sm-2" type="search" name="searchbox" placeholder="Nome do User" aria-label="Search"/>
    <button class="btn btn-outline my-2 my-sm-0" (click)="onSearch(searchbox);">Buscar</button>
  </div>
</nav>

<!-- Profile -->
<div *ngIf="userProfile === undefined" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Com <strong>CSHub</strong> você encontra o Commiter</h1>
    <p class="lead">O CSHub auxilia você a encontrar o commiter no github de forma simples e bacana :D</p>
  </div>
</div>
<div *ngIf="userProfile != undefined" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ userProfile.name }}</h1>
    <p class="lead">
      <strong>{{ userProfile.login }}</strong> {{ userProfile.email }} | está seguindo {{ userProfile.following }} usuários
      e sendo seguido por outros {{ userProfile.followers }} usuários
    </p>
    <p>{{ userProfile.bio }}</p>
    <p class="lead">
        <button class="btn btn-primary" (click)="viewRepos(userProfile.login)">View Repositories</button>
    </p>
  </div>
</div>

<!-- Container -->
<div *ngIf="userProfile != undefined" class="container-fluid">
  <div class="row">
    <div class="col-3" style="border-right:1px solid #ccc;">
      <article *ngFor="let repo of userRepos" class="card" style="margin-bottom:10px;">
        <div class="card-body">
          <h5 class="card-title">{{ repo.name }}</h5>
          <p class="card-text">
            Stars: {{ repo.stargazers_count }}
            <span style="float:right;">
              <a href="#" class="card-link" (click)="viewRepos(userProfile.login)">Mais Detalhes</a>
            </span>
          </p>
        </div>
      </article>
    </div>
    <div class="col-9">
        coming soon
    </div>
  </div>
</div>